:root {
    --bg-color: #121314;
    --text-color: #c9d1d9;
    --muted-color: #8b949e;
    --accent-color: #58a6ff;
    --container-max-width: 1000px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; */
}

header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    font-size: 6px;
    line-height: 1.2;
    color: var(--accent-color);
    white-space: pre;
    overflow-x: auto;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    max-width: 100%;
}

@media (min-width: 576px) {
    .logo {
        font-size: 8px;
    }
}

@media (min-width: 768px) {
    .logo {
        font-size: 11px;
    }
}


.output-sample {
    font-size: 6px;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 800px) {
    .output-sample {
        font-size: 11px;
    }
}

.output-sample pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-color);
    background-color: transparent;
    padding: 1rem;
    white-space: normal;
    border: 4px double;
}

.blue-text {
    color: var(--accent-color);
}

.output-sample b {
    color: var(--text-color);
    font-weight: bold;
}

p.description {
    font-size: 1.2rem;
    color: var(--muted-color);
    margin-top: 2rem;
}

.text-justify {
  text-align: justify !important;
}

main {
    width: 100%;
    /* max-width: var(--container-max-width); */
    padding: 0 1rem;
    box-sizing: border-box;
}

.terminal-container {
    overflow: visible;
    margin-bottom: 3rem;
    aspect-ratio: 768 / 722;
}

.asciicast {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

footer {
    margin-top: auto;
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--muted-color);
}